.column,
.columns,
.container,
.u-full-width {
    width: 100%;
    box-sizing: border-box
}

body,
h3,
h6 {
    line-height: 1.6
}

img, canvas {
    max-width: 100%;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px
}

ol,
p,
ul {
    margin-top: 0
}

.column,
.columns {
    float: left
}

@media (min-width:400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.5em;
    font-weight: 400;
    font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -.1rem
}

h2,
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem
}

h3,
h4 {
    font-size: 2.4rem;
    letter-spacing: -.08rem
}

h4 {
    line-height: 1.35
}

h6 {
    font-size: 1.5rem;
    letter-spacing: 0
}

@media (min-width:550px) {
    .container {
        width: 80%
    }
    .column,
    .columns {
        margin-left: 4%
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%
    }
    .two.columns {
        width: 13.3333333333%
    }
    .three.columns {
        width: 22%
    }
    .four.columns {
        width: 30.6666666667%
    }
    .five.columns {
        width: 39.3333333333%
    }
    .six.columns {
        width: 48%
    }
    .seven.columns {
        width: 56.6666666667%
    }
    .eight.columns {
        width: 65.3333333333%
    }
    .nine.columns {
        width: 74%
    }
    .ten.columns {
        width: 82.6666666667%
    }
    .eleven.columns {
        width: 91.3333333333%
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0
    }
    .one-third.column {
        width: 30.6666666667%
    }
    .two-thirds.column {
        width: 65.3333333333%
    }
    .one-half.column {
        width: 48%
    }
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78%
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%
    }
    h1 {
        font-size: 4.2rem
    }
    h2,
    h3,
    h5,
    h6 {
        font-size: 1.5rem
    }
    h4 {
        font-size: 3rem
    }
}

a {
    color: #1EAEDB
}

a:hover {
    color: #0FA0CE
}

.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=submit]:focus,
input[type=submit]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=button]:focus,
input[type=button]:hover {
    color: #333;
    border-color: #888;
    outline: 0
}

.button.button-primary,
button.button-primary,
input[type=submit].button-primary,
input[type=reset].button-primary,
input[type=button].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type=submit].button-primary:focus,
input[type=submit].button-primary:hover,
input[type=reset].button-primary:focus,
input[type=reset].button-primary:hover,
input[type=button].button-primary:focus,
input[type=button].button-primary:hover {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB
}

input[type=tel],
input[type=url],
input[type=password],
input[type=email],
input[type=number],
input[type=search],
input[type=text],
select,
textarea {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

input[type=tel],
input[type=url],
input[type=password],
input[type=email],
input[type=number],
input[type=search],
input[type=text],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
    border: 1px solid #33C3F0;
    outline: 0
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type=checkbox],
input[type=radio] {
    display: inline
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside
}

ol,
ul {
    padding-left: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

.button,
button,
li {
    margin-bottom: 1rem
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

td,
th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1
}

td:last-child,
th:last-child {
    padding-right: 0
}

fieldset,
input,
select,
textarea {
    margin-bottom: 1.5rem
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 2.5rem
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.u-pull-right {
    float: right
}

.u-pull-left {
    float: left
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both
}

.donatebox {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 2px solid #33C3F0;
    padding: 0 2rem
}

.heart-font {
    color: #33C3F0;
    font-size: 2rem
}

.inline-img {
    vertical-align: middle
}

.img-container {
    overflow: show;
    height: 100px;
    max-height: 100px;
    position: relative
}

.img-kitty {
    display: block;
    width: auto;
    height: 110;
    position: absolute;
    bottom: 0
}

pre {
    white-space: pre-line;
    font-family: monospace;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #7e0091;
    background-color: #dec0e3;
    padding: 1rem 2rem
}

.footer,
.push {
    background-color: rgba(222, 222, 222, .5)
}

.footer .footer-contents {
    padding: 0 5rem;
    position: relative
}

.clickable {
    cursor: pointer
}

.container {
    max-width: 800px
}

.header {
    margin-top: 6rem;
    text-align: center
}

.value-prop {
    margin-top: 1rem
}

.value-props-top {
    margin-top: 4rem;
    margin-bottom: 2rem
}

.value-props-bottom {
    margin-top: 1rem;
    margin-bottom: 4rem
}

.docs-header {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 600
}

.docs-section {
    border-top: 1px solid #eee;
    padding: 2rem 0;
    margin-bottom: 0
}

.results-section-head {
    background-color: rgba(215, 216, 254, .5)
}

.results-section-fancy {
    background: -webkit-linear-gradient(left, #dec0e3, #7e0091);
    background: -moz-linear-gradient(left, #dec0e3, #7e0091);
    background: linear-gradient(left, #dec0e3, #7e0091)
}

.results-section-high {
    background-color: #cdf5d4
}

.results-section-average {
    background-color: #e8f7cd
}

.results-section-low {
    background-color: #fee
}

.results-section-longshoot {
    background-color: #ffd7d7
}

.results-section-leapoffaith {
    background-color: #eee
}

.error_text {
    color: rgba(245, 0, 0, .5)
}

.value-img {
    display: block;
    text-align: center;
    margin: 1.5rem auto 0
}

.example-grid .column,
.example-grid .columns {
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem
}

.docs-example .row,
.docs-example form,
.docs-example.row {
    margin-bottom: 0
}

.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
    margin-bottom: 1rem
}

.heading-font-size {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal
}

.code-example {
    margin-top: 1.5rem;
    margin-bottom: 0
}

.code-example-body {
    white-space: pre;
    word-wrap: break-word
}

.example {
    position: relative;
    margin-top: 4rem
}

.example-header {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: .5rem
}

.example-description {
    margin-bottom: 1.5rem
}

.example-screenshot-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #eee;
    height: 250px
}

.example-screenshot {
    width: 100%;
    height: auto
}

.example-screenshot.coming-soon {
    width: auto;
    position: absolute;
    background: #eee;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px
}

.example-image {
    width: 50%;
    height: auto;
}

.navbar {
    display: none
}

@media (min-width:550px) {
    .header {
        margin-top: 15rem
    }
    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem
    }
    .value-img {
        margin-bottom: 1rem
    }
    .example-grid .column,
    .example-grid .columns {
        margin-bottom: 1.5rem
    }
    .docs-section {
        padding: 3rem 0
    }
    .example-send-yourself-copy {
        float: right;
        margin-top: 12px
    }
    .example-screenshot-wrapper {
        position: absolute;
        width: 48%;
        height: 100%;
        left: 0;
        max-height: none
    }
}

@media (min-width:750px) {
    .navbar-item,
    .navbar-list {
        margin-bottom: 0
    }
    .navbar-list,
    .popover-list {
        list-style: none
    }
    .navbar-link,
    .popover-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600
    }
    .navbar+.docs-section {
        border-top-width: 0
    }
    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee
    }
    .navbar-spacer {
        display: none
    }
    .has-docked-nav .navbar-spacer,
    .popover.open {
        display: block
    }
    .navbar>.container {
        width: 100%
    }
    .navbar-item {
        position: relative;
        float: left
    }
    .navbar-link {
        font-size: 11px;
        letter-spacing: .2rem;
        margin-right: 35px;
        line-height: 6.5rem;
        color: #222
    }
    .navbar-link.active {
        color: #33C3F0
    }
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0
    }
    .has-docked-nav .navbar>.container {
        width: 80%
    }
    .popover {
        display: none;
        position: absolute;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
        top: 92%;
        left: -50%;
        -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1))
    }
    .popover-item:first-child .popover-link:after,
    .popover-item:first-child .popover-link:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none
    }
    .popover-item:first-child .popover-link:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px
    }
    .popover-item:first-child .popover-link:before {
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #eee;
        border-width: 11px;
        margin-left: -11px
    }
    .popover-item,
    .popover-list {
        padding: 0;
        margin: 0
    }
    .popover-link {
        position: relative;
        color: #222;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #eee;
        font-size: 1rem;
        text-align: center;
        letter-spacing: .1rem
    }
    .popover-item:first-child .popover-link {
        border-radius: 4px 4px 0 0
    }
    .popover-item:last-child .popover-link {
        border-radius: 0 0 4px 4px;
        border-bottom-width: 0
    }
    .popover-link:hover {
        color: #fff;
        background: #33C3F0
    }
    .popover-item:first-child .popover-link:hover:after,
    .popover-link:hover {
        border-bottom-color: #33C3F0
    }
}

.hidden {
    display: none;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(234, 234, 234, 0.52) url(../img/spinner4.gif) center center no-repeat;
    background-size: 100px;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}

#thumb {
    margin-bottom: 0;
}

#summary {
    visibility: hidden;
}

.value {
    font-weight: bold;
    font-size: xx-large;
    color: grey;
}

.thumb-button {
    display: block;
    width: 50%;
}


@media (max-width:600px) {
    .example-image, .thumb-button {
        width: 100%;
    }
}